# --- Core FastAPI stack ---
fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy
databases
psycopg2-binary
python-jose
passlib[bcrypt]
python-dotenv
pytest
httpx

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
opentelemetry-semantic-conventions

